{% extends "base.html" %}
{% block title %}Sobre{% endblock%}
{% block content %}
<!-- Conteúdo -->
<section class="container h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col-6 mx-auto">
      <p>Este site foi construido por Cristian Sousa, usando Flask</p>
      <ul>
        <p>
        {% for name in names %}
          <li>{{ name }}</li>
        {% endfor %}
        </p>
      </ul>
    <div/>
  <div/>

  <img src="{{ url_for('static', filename='img/elementor-logo.png') }}">
  <img src="{{ url_for('static', filename='img/elementor-notice-icon.svg') }}" width="100">
  <img src="{{ url_for('static', filename='img/go-pro.svg') }}">

</section>
{% endblock %}
