{% extends 'subscribers.html' %}
{% block modal %}
<!-- Modal -->
  <section>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Você tem certeza que deseja deletar esse registro?
            data-teste
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/delete/{{ id }}" class="btn btn-danger btn-mb">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
<script>
var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
  keyboard: false
})
myModal.show()

</script>
{% endblock %}