{% extends "base.html" %}

{% block style %}{% endblock style%}
{% block title %}Inscritos{% endblock title%}

{% block content %}
<!-- CONTENT -->
<section class="container ">

  <div id="alertPlaceholder"></div>

  <h1>Lista no banco de dados</h1>
  <br/>

  <a href="" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#subscribeModal">Inscrição</a>

  <div class="col-md d-flex align-items-center justify-content-center">

    <table class="table">

      <thead>
        <tr>
          <th scope="col" >Id</th>
          <th scope="col" >Nome</th>
          <th scope="col" >Sobrenome</th>
          <th scope="col" >Email</th>
          <th scope="col" >Ações</th>
        </tr>
      </thead>

      <tbody>
        {% for subscriber in subscribers %}
        <tr>
          <th scope="row">{{ subscriber.id }}</th>
          <td>{{ subscriber.name }}</td>
          <td>{{ subscriber.last_name }}</td>
          <td>{{ subscriber.email }}</td>
          <td>

            <a href="/update/#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal" data-id="{{ subscriber.id }}" data-name="{{ subscriber.name }}" data-last-name="{{ subscriber.last_name }}"  data-email="{{ subscriber.email }}">Update</a>
            <a href="/delete/#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ subscriber.id }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

  <div class="col-md d-flex align-items-center justify-content-center">
      <img src="{{ url_for('static', filename='img/elementor-logo.png') }}">
      <img src="{{ url_for('static', filename='img/elementor-notice-icon.svg') }}" width="100">
      <img src="{{ url_for('static', filename='img/go-pro.svg') }}">
  </div>

</section>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <script>
      document.addEventListener("DOMContentLoaded", function() {
        var my_alert = bAlert("{{ message }}", "{{ category }}")
        setTimeout(()=>{
          my_alert.close()
        }, 3000)
      });
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- MODALS -->

<!-- Inscrição -->
<section>
  <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form action="/signing" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1>Se inscreva!</h1>
            <br>
              <div class="mb-3">
                <input type="text" class="form-control" aria-describedby="firstName" placeholder="Nome" name="first_name">
                <div class="form-text">Digite o seu primeiro nome.</div>
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" aria-describedby="lastName" placeholder="Sobrenome" name="last_name">
                <div class="form-text">Digite o seu sobrenome nome.</div>
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Endereço de e-mail" name="email">
                <div class="form-text">Nós nunca compartilharemos o seu e-mail com terceiros.</div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Inscrever</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Atualizar -->
<section>
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form action="/update/#" method="POST" id="update-form">
        <input type="hidden" name="_method" value="PUT">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1>Atualizar inscrito</h1>
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="firstName" placeholder="Nome" name="first-name" value="1">
              <div class="form-text">Digite o seu primeiro nome.</div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="lastName" placeholder="Sobrenome" name="last-name" value="1">
              <div class="form-text">Digite o seu sobrenome nome.</div>
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Endereço de e-mail" name="email" value="1">
              <div class="form-text">Nós nunca compartilharemos o seu e-mail com terceiros.</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Delete -->
<section>
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Você tem certeza que deseja deletar esse registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="/delete/#" class="btn btn-danger btn-mb" name="btn-delete">Deletar</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- ADICIONAR ALERT -->
<script type="text/javascript">

  var alertPlaceholder = document.getElementById('alertPlaceholder')
  var alertTrigger = document.getElementById('liveAlertBtn')

  function bAlert(message, type) {
    var wrapper = document.createElement('div')
    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
    alertPlaceholder.append(wrapper)
    return new bootstrap.Alert(wrapper)
  }

</script>

<!-- SCRIPT DELETAR -->
<script type="text/javascript">

  var deleteModal = document.getElementById('deleteModal')
  deleteModal.addEventListener('show.bs.modal', function (event) {

    let button = event.relatedTarget
    let id = button.getAttribute('data-id')
    let modalTitle = deleteModal.querySelector('.modal-title')
    modalTitle.textContent = 'Deletar registro ' + id
    let btn_delete = deleteModal.querySelector('[name="btn-delete"]')
    btn_delete.href = '/delete/' + id

  })

</script>

<!-- SCRIPT UPDATE -->
<script type="text/javascript">

  var updateModal = document.getElementById('updateModal')
  updateModal.addEventListener('show.bs.modal', function (event) {

    let button = event.relatedTarget
    let id = button.getAttribute('data-id')
    let name = button.getAttribute('data-name')
    let last_name = button.getAttribute('data-last-name')
    let email = button.getAttribute('data-email')

    let modalTitle = updateModal.querySelector('.modal-title')
    modalTitle.textContent = 'Atualizar registro ' + id

    let modalNameInput = updateModal.querySelector('[name="first-name"]')
    let modalLastNameInput = updateModal.querySelector('[name="last-name"]')
    let modalEmailInput = updateModal.querySelector('[name="email"]')
    let btn_update = updateModal.querySelector('[name="btn-update"]')
    let form  = document.getElementById('update-form');

    modalNameInput.value = name
    modalLastNameInput.value = last_name
    modalEmailInput.value = email

    form.action = '/update/' + id

  })

</script>

<!-- SCRIPT INSCRIÇÃO -->
<script type="text/javascript">

  var subscribeModal = document.getElementById('subscribeModal')
  subscribeModal.addEventListener('show.bs.modal', function (event) {
    let button = event.relatedTarget
    let recipient = button.getAttribute('data-bs-whatever')
    let modalTitle = subscribeModal.querySelector('.modal-title')
  })

</script>

{% endblock content %}

{% block script %}{% endblock script%}
