{% extends "base.html" %}

{% block style %}{% endblock style%}
{% block title %}Inscritos{% endblock title%}

{% block content %}
<!-- CONTENT -->
<section class="container ">

  {{ message }}
  <div id="liveAlertPlaceholder"></div>

  <h1>Lista no banco de dados</h1>
  <br/>

  <a href="/subscribe-form" class="btn btn-outline-success btn-sm">Inscrição</a>

  <div id="barra_de_alerta"></div>

  <div class="col-md d-flex align-items-center justify-content-center">

    <table class="table">

      <thead>
        <tr>
          <th scope="col" >Id</th>
          <th scope="col" >Nome</th>
          <th scope="col" >Sobrenome</th>
          <th scope="col" >Email</th>
          <th scope="col" >Ações</th>
        </tr>
      </thead>

      <tbody>
        {% for subscriber in subscribers %}
        <tr>
          <th scope="row">{{ subscriber.id }}</th>
          <td>{{ subscriber.name }}</td>
          <td>{{ subscriber.last_name }}</td>
          <td>{{ subscriber.email }}</td>
          <td>
            <a href="/update-form/{{ subscriber.id }}" class="btn btn-outline-primary btn-sm">Update</a>
            <a href="/delete/#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{ subscriber.id }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

  <div class="col-md d-flex align-items-center justify-content-center">
      <img src="{{ url_for('static', filename='img/elementor-logo.png') }}">
      <img src="{{ url_for('static', filename='img/elementor-notice-icon.svg') }}" width="100">
      <img src="{{ url_for('static', filename='img/go-pro.svg') }}">
  </div>

</section>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <script>
      document.addEventListener("DOMContentLoaded", function() {
        var my_alert = bAlert("{{ message }}", "{{ category }}")
        setTimeout(()=>{
          my_alert.close()
        }, 3000)
      });
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- MODALS -->
<section>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Você tem certeza que deseja deletar esse registro?
          <input type="hidden" name="meu_id" id="meu_id" value="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/delete/{{ id }}" class="btn btn-danger btn-mb" name="btn-delete" id="btn-delete">Delete</a>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>

  var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  var alertTrigger = document.getElementById('liveAlertBtn')

  function bAlert(message, type) {
    var wrapper = document.createElement('div')
    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
    alertPlaceholder.append(wrapper)
    return new bootstrap.Alert(wrapper)
  }

  if (alertTrigger) {
    alertTrigger.addEventListener('click', function () {
      var janela = bAlert('Nice, you triggered this alert message!', 'success')
        setTimeout(()=>{
          janela.close()
        }, 3000)
    })
  }

</script>

<script>
  function chamar_alert(){
    showAlert();
  }
</script>

{% endblock content %}

{% block script %}{% endblock script%}
