{% extends "base.html" %}
{% block title %}Atualizar{% endblock%}
{% block content %}
<!-- Conteúdo -->
<section class="container">
  <h1>Atualizar inscrito</h1>
  <br>
  <form action="/update/{{ subscriber.id }}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="mb-3">
      <input type="text" class="form-control" id="InputFirstName" aria-describedby="firstName" placeholder="Nome" name="first_name" value="{{ subscriber.name }}">
      <div id="firstNameHelp" class="form-text">Digite o seu primeiro nome.</div>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="InputLastName" aria-describedby="lastName" placeholder="Sobrenome" name="last_name" value="{{ subscriber.last_name }}">
      <div id="lastNameHelp" class="form-text">Digite o seu sobrenome nome.</div>
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Endereço de e-mail" name="email" value="{{ subscriber.email }}">
      <div id="emailHelp" class="form-text">Nós nunca compartilharemos o seu e-mail com terceiros.</div>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
  </form>
</section>

<div id="liveAlertPlaceholder"></div>
<button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button>

<script>

  var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  var alertTrigger = document.getElementById('liveAlertBtn')

  function bAlert(message, type) {
    var wrapper = document.createElement('div')
    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
    alertPlaceholder.append(wrapper)
    return new bootstrap.Alert(wrapper)
  }

  if (alertTrigger) {
    alertTrigger.addEventListener('click', function () {
      var janela = bAlert('Nice, you triggered this alert message!', 'success')
        setTimeout(()=>{
          janela.close()
        }, 3000)
    })
  }




</script>
{% endblock %}
